.product-container{
    background-color: #EAEDED;
}
.sticky-div{
    position: sticky;
    bottom: 0;
}
.card{
    -webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.5);
}
.btn-secondary{
   border-radius: 0px;
}
.btn-secondary:first-child:hover{
    background-color: red;
    border: 1px solid white;
}
.btn-secondary:hover{
    background-color: green;
    border: 1px solid white;
}
.carousel-item img {
    max-width: 100%;
    height: 390px;
    object-fit: contain;
  }
.sm-text{
    font-size: 12px;
}

  